/*-------------------USAGE--------------------------
<div className="divhoverbutton>
  <a href="#" className="ahoverbutton"><span classame="spanhoverbutton">Hover Me!</span></a>
</div>
----------------------------------------------------
*/
.divhoverbutton{
  justify-content:center;
  display: flex

  }

  
  .ahoverbutton{
    display: block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;
    position: relative;
    transition: all .35s;
  }
  
  .spanhoverbutton{
    position: relative;
    z-index: 2;
  }
  
  .ahoverbutton:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #27ae60 ; 
    transition: all .35s;
  }
  
  .ahoverbutton:hover{
    color: #fff;
  }
  
  .ahoverbutton:hover:after{
    width: 100%;
  }